<!DOCTYPE HTML>
<html lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <!-- Can I change this? -->
   <meta name="author" content="Alan G. Labouseur" />
   <title>
      AxiOS - a browser-based virtual Operating System in TypeScript
   </title>

   <!-- Globals CONSTANTS and _Variables. Must included be first. -->
   <script type="text/javascript" src="distrib/globals.js"></script>

   <!-- Host (Virtual Machine / Hardware Simulation) Routines -->
   <script type="text/javascript" src="distrib/host/control.js"></script>
   <script type="text/javascript" src="distrib/host/devices.js"></script>
   <script type="text/javascript" src="distrib/host/cpu.js"></script>
   <script type="text/javascript" src="distrib/host/memory.js"></script>
   <script type="text/javascript" src="distrib/host/memoryAccessor.js"></script>
   <script type="text/javascript" src="distrib/host/addressBlock.js"></script>
   <script type="text/javascript" src="distrib/host/dispatcher.js"></script>
   <script type="text/javascript" src="distrib/host/disk.js"></script>

   <!-- Virtual OS Routines: Make sure Kernel code is last, since it needs those above it. -->
   <script type="text/javascript" src="distrib/os/interrupt.js"></script>
   <script type="text/javascript" src="distrib/os/canvastext.js"></script>
   <script type="text/javascript" src="distrib/os/console.js"></script>
   <script type="text/javascript" src="distrib/os/deviceDriver.js"></script>
   <script type="text/javascript" src="distrib/os/deviceDriverKeyboard.js"></script>
   <script type="text/javascript" src="distrib/os/priorityQueue.js"></script>
   <script type="text/javascript" src="distrib/os/queue.js"></script>
   <script type="text/javascript" src="distrib/os/shell.js"></script>
   <script type="text/javascript" src="distrib/os/shellCommand.js"></script>
   <script type="text/javascript" src="distrib/os/userCommand.js"></script>
   <script type="text/javascript" src="distrib/os/kernel.js"></script>
   <script type="text/javascript" src="distrib/os/memoryManager.js"></script>
   <script type="text/javascript" src="distrib/os/processControlBlock.js"></script>
   <script type="text/javascript" src="distrib/os/residentList.js"></script>
   <script type="text/javascript" src="distrib/os/scheduler.js"></script>
   <script type="text/javascript" src="distrib/os/deviceDriverDisk.js"></script>
   <script type="text/javascript" src="distrib/os/swapper.js"></script>

   <!-- Other Routines -->
   <script type="text/javascript" src="distrib/utils.js"></script>
   <script type="text/javascript" src="distrib/defragment.js"></script>
   <!-- Uncomment the line below to enable GLaDOS testing. -->
   <!-- Apparently GlaDos is ACTUALLY poisonous-->
   <script type="text/javascript" src="http://alanclasses.github.io/TSOS/test/glados-ip4.js"></script>
   <!-- <script type="text/javascript" src="test\glados-ip4.js"></script> -->

</head>

<body onload="onDocumentLoad()">

   <div class="container">

      <div class="item item--1">
         <!-- Buttons -->
         <!-- <div class="divButtonBar">
            <input type="button" id="btnStartOS" name="brnStartOS" value="Start >>>" tabindex="0" (click)="hostBtnStartOS_click('btnStartOS')">
            <input type="button" id="btnHaltOS" name="brnHaltOS" class="normal_button" disabled="disabled" value="Halt"
               onclick="TSOS.Control.hostBtnHaltOS_click(this); document.getElementById('divLog--status').innerText = 'Halted';">
            <input type="button" id="btnReset" name="brnReset" class="normal_button" disabled="disabled" value="Reset"
               tabindex="2"
               onclick="TSOS.Control.hostBtnReset_click(this); document.getElementById('divLog--status').innerText = 'Resetting';">
         </div> -->

         <!-- <div class="divButtonBar">
            <input type="button" id="btnSingleStepMode" name="btnSingleStep" class="single_step_button"
               disabled="disabled" value="Single Step ON" tabindex="3"
               onclick="TSOS.Control.hostBtnSingleStep_click(this); document.getElementById('divLog--status').innerText = 'Single Step Off';">
            <input type="button" id="btnNextStep" name="btnNextStep" class="single_step_button" disabled="disabled"
               value="Next Step" tabindex="4"
               onclick="TSOS.Control.hostBtnNextStep_click(this); document.getElementById('divLog--status').innerText = 'Single Step Mode: Next Step';">
         </div> -->
      </div>


      <div class="item item--2">
         <!-- Source img https://windowsreport.com/bsod-error-0x000000ea/-->
         <!-- I know using absolute positioning is a bit "crude"-->
         <div id="bsod"
            style="position: absolute; visibility: hidden; margin:6px; width:504px; height:549px; float:left; justify-content: center">
            <img id="bsod--image" width="500px" height="565px" z-index="100" src="images/BSoD-10.jpg"
               alt="Sorry for screwing up this image, it's been a while since I've done front end stuff">
         </div>
      </div>


      <div class="item item--3" max-height="585px">
         Memory
         <div style="width: 99.275%; border: 1px solid #bbbbbb;">
            <div id="visual--memory--container">
               <!-- Functionality over fancy styling stuff for now... probably gonna switch this entire index.html to a simple flex layout 
            but now that I'm thinking about this, maybe a more modern grid layout. -->
               <Table id="visual--memory--table" style="width: 100%;"></Table>
            </div>
         </div>
      </div>

      <div class="item item--4">

      <div class="item item--5">
         <label style="margin-left: .5rem; border-bottom: 2px solid #bbbbbb;">
            Disk
         </label>
         <!--Disk-->
         <div id='visual--disk--table--container'>
         </div>
      </div>
   </div>

   <p class="footerText" style="clear:both;">
      <br>
      Copyright &copy; 2008 - 2019 No Rights Reserved.
      <br>
      Reproduction is inhibited without the express written consent of
      Ted Codd, Stevie Ray Vaughan, and Ian Fleming.
   </p>
</body>

</html>