<!--CPU Information-->
<div style="padding-left: 15px; padding-top: 15px;">
    <div class="box" > Central Processing Unit </div>
    <div class="cpu--wrapper">
        <div class="box">Program Counter</div>
        <div class="box">Instruction Register</div>
        <div class="box">Accumulator</div>
        <div class="box">X-Register</div>
        <div class="box">Y-Register</div>
        <div class="box">Z-Flag</div>
    </div>

    <div class="cpu--wrapper">
        <div id="cpu--pc" class="box">{{cpuData?.pc}}</div>
        <div id="cpu--ir" class="box">{{cpuData?.ir}}</div>
        <div id="cpu--acc" class="box">{{cpuData?.acc}}</div>
        <div id="cpu--x" class="box">{{cpuData?.x}}</div>
        <div id="cpu--y" class="box">{{cpuData?.y}}</div>
        <div id="cpu--z" class="box">{{cpuData?.z}}</div>
    </div>
</div>
