<div id="processes--div" style="padding-left: 15px; padding-top: 15px;">
    <div class="box" > Process Control Blocks </div>
    <div class="pcb--wrapper">
        <div class="box">PID</div>
        <div class="box">PC</div>
        <div class="box">IR</div>
        <div class="box">ACC</div>
        <div class="box">X</div>
        <div class="box">Y</div>
        <div class="box">Z</div>
        <div class="box">Priority</div>
        <div class="box">State</div>
        <div class="box">Loc</div>
    </div>

    <div class="pcb--wrapper pcb--wrapper--data">
        <div id="pcb--pid" class="box">00</div>
        <div id="pcb--pc" class="box">00</div>
        <div id="pcb--ir" class="box">00</div>
        <div id="pcb--acc" class="box">00</div>
        <div id="pcb--x" class="box">00</div>
        <div id="pcb--y" class="box">00</div>
        <div id="pcb--z" class="box">00</div>
        <div id="pcb--priority" class="box">00</div>
        <div id="pcb--state" class="box">00</div>
        <div id="pcb--location" class="box">0</div>
    </div>
</div>
