<div id="processes--div" style="padding-left: 15px; padding-top: 15px;">
    <div class="box" > Process Control Blocks </div>
    <div class="pcb--wrapper">
        <div class="box">PID</div>
        <div class="box">PC</div>
        <div class="box">IR</div>
        <div class="box">ACC</div>
        <div class="box">X</div>
        <div class="box">Y</div>
        <div class="box">Z</div>
        <div class="box">Priority</div>
        <div class="box">State</div>
        <div class="box">Loc</div>
    </div>

    <div *ngFor="let process of processes" class="pcb--wrapper pcb--wrapper--data">
        <div class="box">{{process.pid}}</div>
        <div class="box">{{process.pc}}</div>
        <div class="box">{{process.ir}}</div>
        <div class="box">{{process.acc}}</div>
        <div class="box">{{process.z}}</div>
        <div class="box">{{process.y}}</div>
        <div class="box">{{process.z}}</div>
        <div class="box">{{process.priority}}</div>
        <div class="box">{{process.state}}</div>
        <div class="box">{{process.location}}</div>
    </div>
</div>
