.executable--image {
  width: 100%;
  font-size: .7rem;
  color: white;
  margin-left: 15px;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(187, 187, 187, .3);
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(187, 187, 187, .4);
	border-radius: 10px;
  }