canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 99%;
    height: 69%;

    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -1%);   
}