.flex-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.nightingale {
    display: flex;
    flex: 48;
    justify-content: space-between;
    align-items: center;
}

.divider {
    display: flex;
    flex: 6;
}

.axios {
    display: flex;
    flex: 48;
    justify-content: space-between;
    align-items: center;
}

.mat-sidenav-container {
    height: 93.5%;
    width: 100%;
}

mat-spinner::ng-deep circle {
    stroke: #228B22;
}

.nav-links {
    width: 10%;
    height: 100%;
}

.menu-spacer {
    flex: 3 3 auto;
  }

.menu-spacer-small {
    flex: 1 1 auto;
}

.text-blue {
    // color: #ff7eb6;
    font-size: 24px;
    color: rgba(59, 130, 246, 0.5);
}

.text-nightingale-pink {
    font-size: 24px;
    color: rgb(255, 102, 122, .725);
}

//////////////////////////////////////////
// Grid Layout
//////////////////////////////////////////
.mat-grid-list {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
}

.material-grid-tile-navbar, .material-grid-tile-code-editor {
    border-right: solid 2px #cccccc33
}

//////////////////////////////////////////
// Material Sidebar Styling
//////////////////////////////////////////
.side-navbar-tile-div {
    width: 100%;
    height: 100%;

    // Stack links in a list
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // For cross axis alignment
    align-items: center;

    background-color: rgba(60, 60, 60, 1);
}

// Side Navbar Side Content
.sidenav-side-content {
    height: 100%;
    min-width: 10%; // Be careful not to override auto-sizing
    background-color: rgba(60, 60, 60, 1);
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
}

// Side Navbar Main Content
.main-content {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
}

.side-navbar-tile-div {
    width: 100%;
    height: 100%;
}


////////////////////////////////////////////
// Split View Styling
////////////////////////////////////////////
:host {
    as-split {

        .as-split-area {
            background-color: transparent;

            & > p {
                padding: 5px;
            }
        }

        ::ng-deep .as-split-gutter {
            background-color: #cccccc33 !important;
            position: relative;
        }

        ::ng-deep .as-split-gutter-icon {
            height: 10px;
            background-image: none !important;
            background-color: rgba(59, 130, 246, 1.0);
            transition: opacity 0.3s;
            opacity: 0;
            position: absolute;
        }

        ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
        ::ng-deep .as-split-gutter-icon:hover {
            opacity: 0.8;
        }

            &.as-vertical {
                ::ng-deep .as-split-gutter-icon {
                height: 5px !important;
                top: -4px;
                bottom: 0px;
            }
        }
    }
}

////////////////////////////////////////////
// Tab View Styling
////////////////////////////////////////////
::ng-deep {
    .mat-tab-list .mat-tab-label {
        // Line height of each tab
        line-height: 1.25rem;
        height: 1.25rem;
        min-width: 0px;
        width: min-content;

        // Offset the bottom border by a bit
        margin-top: 5px;
        margin-bottom: 1px;

        // Bttom bar is as long at this
        padding: 2px;

        // Use margin to space
        margin-left: 1rem;
        margin-right: 1rem;


        color:#3d3d3d;
        background-color: transparent;
        border: none;
        opacity: 1;

        font-size: .8rem;
        font-weight: normal;
    }

    .mat-tab-list .mat-tab-labels  .mat-tab-label-active {
        color:white;
        background: transparent;
        font-size: .8rem;
        font-weight: normal;
    }

    .mat-tab-labels {
        border-bottom: none;
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
        background-color: transparent;
        box-sizing: border-box;
        border-bottom: 2px solid white;
    }

    .mat-tab-nav-bar, .mat-tab-header {
        border-bottom: none;
    }
}
  
.mat-tree-node {
    font-size: .7rem;
    height: min-content;
    min-height: min-content;
    margin: 0;
    color: white;
    background-color: rgba(60, 60, 60, 1);
}
.example-tree-invisible {
    font-size: .7rem;
    display: none;
}
  
.example-tree ul, .example-tree li {
    font-size: .7rem;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    background-color: rgba(60, 60, 60, 1);
}
  
/*
* This padding sets alignment of the nested nodes.
*/
.example-tree .mat-nested-tree-node div[role=group] {
    font-size: .7rem;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(60, 60, 60, 1) !important;
}

/*
* Padding for leaf nodes.
* Leaf nodes need to have padding so as to align with other non-leaf nodes
* under the same parent.
*/
.example-tree div[role=group] > .mat-tree-node {
    font-size: .7rem;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(60, 60, 60, 1) !important;
}

/* Scroll Bar */

/* width */
::ng-deep ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
    background: rgba(187, 187, 187, .3);
    border-radius: 10px;
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
    background: rgba(187, 187, 187, .4);
    border-radius: 10px;
}
::ng .mat-tab-body {
    overflow: scroll !important;
}

.mat-tab-body, .mat-tab-body.mat-tab-body-active {
    height: 100%;
    overflow: scroll !important;
}