<mat-toolbar style="background-color: #161616; height: 6.5%; border-bottom: black solid 1px;">
  <div class="flex-row">
    <div class="nightingale">
      <div><span class="text-nightingale-pink">Nightingale</span><span
          style="color: #3d3d3d; font-size: .7rem; margin-left: 15px;">Status: {{compilerStatus}}</span></div>
      <button mat-icon-button *ngIf="(compiling) == false" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon" (click)="onCompileButtonClick()" style="color: #228B22;">
        <mat-icon>done</mat-icon>
      </button>
      <div *ngIf="(compiling) == true" style="transform: translateX(-50%);">
        <mat-spinner [diameter]="22.5"></mat-spinner>
      </div>
    </div>
    <div class="divider"></div>
    <div class="axios">
      <div><span class="text-blue">AxiOS </span> <span
          style="color: #3d3d3d; font-size: .7rem; margin-left: 15px;">Status: {{axiosStatus}}<span
            id="divLog--status"></span></span></div>
      <div style="margin-right: 40px;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" id="btnStartOS"
          (click)="hostBtnStartOS_click()" title="OS Power Button" [style.color]="'#228B22'" title="Start OS">
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
          id="btnSingleStepMode" (click)="hostBtnSingleStep_click()" title="Toggle Single Step"
          [style.color]="'#3d3d3d'">
          <mat-icon>bug_report</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" id="btnNextStep"
          (click)="hostBtnNextStep_click()" title="Step One" [style.color]="'#3d3d3d'" title="Next Step">
          <mat-icon> keyboard_tab</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav class="sidenav-side-content" [(opened)]="opened" mode="over">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle style="margin-top: 0;">
        <!-- Compiler tests are directly added to Monaco Editor -->
        <button mat-icon-button *ngIf="node.type == 'COMPILER_TEST'" style="width: min-content; font-size: .7rem;"
          (click)="onCompilerTestClick(node.data)">
          {{node.name}}
        </button>

        <!-- TODO: Operating System tests (written in ) are directly added to OS Input -->
        <!-- <button mat-icon-button *ngIf="node.type == 'OS_TEST'" style="width: min-content; font-size: .7rem;"
          (click)="onOSTestClick(node.data)">
          {{node.name}}
        </button> -->
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <!-- Sidenav -->
    <mat-grid-list class="mat-grid-list" cols="100" rowHeight="fit" color="secondary">
      <mat-grid-tile class="material-grid-tile-navbar" [colspan]="4" [rowspan]="1">
        <div class="side-navbar-tile-div">
          <ul>
            <li>
              <button mat-icon-button color="accent" class="example-icon" aria-label="Tests" (click)="opened = !opened">
                <mat-icon class="text-blue">folder</mat-icon>
              </button>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/alex-badia/">
                <button mat-icon-button color="accent" class="example-icon" aria-label="Tests">
                  <mat-icon class="text-blue fa fa-linkedin">
                  </mat-icon>
                </button>
              </a>
            </li>
          </ul>
        </div>
      </mat-grid-tile>

      <!-- Code Editor View -->
      <mat-grid-tile class="material-grid-tile-code-editor" [colspan]="46" [rowspan]="1">
        <div style="height: 100%; width: 100%; align-items: center;">
          <as-split class="split-example ex-b" direction="vertical" [gutterSize]="1.25">

            <!-- Code Editor -->
            <as-split-area [size]="70" [minSize]="20">
              <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (init)="editorInit($event)">
              </ngx-monaco-editor>
            </as-split-area>

            <!-- Compiler Output -->
            <as-split-area [size]="30" [minSize]="20" style="overflow-y: hidden;">
              <mat-tab-group animationDuration="0ms" [dynamicHeight]="false" style="height: 100%;">
                <mat-tab label="SUMMARY">
                  <ul style="margin-left: 15px;">
                    <li *ngFor="let prog of programs">
                      <app-output [lexerOutput]="prog.lexerOutput" [parserOutput]="prog.parserOutput"></app-output>
                    </li>
                  </ul>
                </mat-tab>

                <!-- Lexer Output -->
                <mat-tab label="LEX">
                  <div style="height: 100%; width: 100%; overflow: scroll;">
                    <ul style="margin-left: 15px;">
                      <li *ngFor="let prog of programs" style="overflow: hidden;">
                        <app-lexer-output [header]="prog.lexerOutput[0]" [footer]="prog.lexerOutput[1]"
                          [tokens]="prog.cleanTokenStream"></app-lexer-output>
                      </li>
                    </ul>
                  </div>
                </mat-tab>

                <!-- Parser Output -->
                <mat-tab label="PARSE">
                  <div style="height: 100%; width: 100%; overflow: scroll;">
                    <ul>
                      <li *ngFor="let prog of programs" style="overflow: hidden;">
                        <h1 style="font-size: .7rem; color: white; margin-left: 15px; margin-top: 15px;">
                          Program {{prog.id}}
                          <span *ngIf="prog.isValid == false">Skipped Due to Errors!</span>
                          <span *ngIf="prog.isValid == true">Concrete Syntax Tree:</span>
                        </h1>
                        <drag-scroll *ngIf="prog.isValid == true"
                          style="width: 100%; height: min-content; cursor: move;">
                          <app-cst [program]="prog"></app-cst>
                        </drag-scroll>
                      </li>
                    </ul>
                  </div>
                </mat-tab>

                <!-- Semantic Analysis Output -->
                <mat-tab label="SEMANTIC ANALYSIS">
                  <div style="height: 100%; width: 100%; overflow: scroll;">
                    <ul>
                      <li *ngFor="let prog of programs" style="overflow: hidden;">
                        <h1 style="font-size: .7rem; color: white; margin-left: 15px; margin-top: 15px;">
                          Program {{prog.id}}
                          <span *ngIf="prog.isValid == false">Skipped Due to Errors!</span>
                          <span *ngIf="prog.isValid == true">Abstract Syntax Tree:</span>
                        </h1>
                        <drag-scroll *ngIf="prog.isValid == true"
                          style="width: 100%; height: min-content; overflow: hidden; cursor: move;">
                          <app-ast [program]="prog"></app-ast>
                        </drag-scroll>
                      </li>
                    </ul>
                  </div>
                </mat-tab>
                <mat-tab label="SCOPE TREE">
                  <div style="height: 100%; width: 100%; overflow: scroll;">
                    <ul>
                      <li *ngFor="let prog of programs" style="overflow: hidden;">
                        <h1 style="font-size: .7rem; color: white; margin-left: 15px; margin-top: 15px;">
                          Program {{prog.id}}
                          <span *ngIf="prog.isValid == false">Skipped Due to Errors!</span>
                          <span *ngIf="prog.isValid == true">Scope Tree:</span>
                        </h1>
                        <drag-scroll *ngIf="prog.isValid == true"
                          style="width: 100%; height: min-content; overflow: hidden; cursor: move;">
                          <app-scope-tree [program]="prog"></app-scope-tree>
                        </drag-scroll>
                      </li>
                    </ul>
                  </div>
                </mat-tab>

                <!-- Code Generation Output -->
                <mat-tab label="6502a OP CODES">
                  <div style="height: 100%; width: 50%; overflow-wrap:normal;">
                    <ul>
                      <li *ngFor="let prog of programs">
                        <span
                          style="font-size: .7rem; color: white; margin-left: 15px; margin-top: 15px;  border-bottom: 1px solid white;">
                          Program {{prog.id}}
                          <span *ngIf="prog.isValid == false">Skipped Due to Errors!</span>
                          <span *ngIf="prog.isValid == true">
                            Executable Image
                            <button mat-icon-button (click)="onExecutableImageClick(prog.executableImage.memory())">
                              <mat-icon style="color: #228b22;">arrow_right_alt</mat-icon>
                            </button>
                          </span>
                        </span>
                        <app-op-codes *ngIf="prog.isValid == true" [executableImage]="prog.executableImage.memory()">
                        </app-op-codes>
                      </li>
                    </ul>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </as-split-area>
          </as-split>
        </div>
      </mat-grid-tile>

      <!-- Operating System -->
      <mat-grid-tile [colspan]="50" [rowspan]="1">
        <as-split class="split-example ex-b" direction="vertical" [gutterSize]="1.25" [disabled]="true">

          <!-- Canvas CMD -->
          <as-split-area [size]="70" [minSize]="20">
            <app-console id="appConsole"></app-console>
          </as-split-area>

          <!-- OS Details -->
          <as-split-area id="osBottomSplitArea" [size]="30" [minSize]="20">
            <mat-tab-group animationDuration="0ms" [dynamicHeight]="true" style="height: 100%;"
              (selectedTabChange)="onAxiOsTabChange($event)">
              <!-- 6502a Input -->
              <mat-tab label="6502a INPUT">
                <div id="appProgramInput" style="height: 100%; width: 100%; overflow: scroll;">
                  <app-program-input (changeEcho)="onOpCodeInputChange($event)" [opCodes]="opCodeInput">
                  </app-program-input>
                </div>
              </mat-tab>

              <!-- CPU, Processes and Memory -->
              <mat-tab label="CPU/MEMORY">
                <div style="height: 100%; width: 100%; overflow: scroll;">
                  <app-cpu-output [cpuData]='cpuData'></app-cpu-output>
                  <app-memory [memory]="memory.rows"></app-memory>
                </div>
              </mat-tab>

              <mat-tab label="CPU/PROCESSES">
                <div style="height: 100%; width: 100%; overflow: scroll;">
                  <app-cpu-output [cpuData]='cpuData'></app-cpu-output>
                  <app-processes [processes]="processes"></app-processes>
                </div>
              </mat-tab>

              <!-- Disk -->
              <mat-tab label="DISK">

              </mat-tab>

              <!-- Host Log -->
              <mat-tab label="HOST LOG">
                <div id="appHostLog"
                  style="height: 100%; width: 100%; white-space:normal; overflow-wrap:break-word; overflow-x: hidden; overflow-y: scroll;">
                  <app-host-log [hostMessages]='hostLogData'></app-host-log>
                </div>
              </mat-tab>
            </mat-tab-group>
          </as-split-area>
        </as-split>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>

<script>
  function highlightSubtree(program_num, node_id) {
    // To simulate recursion, iteratively, use a stack.
    let stack = [];

    // Get the starting node from DOM
    let currentNode = document.getElementById(`cst_p${program_num}_li_node_id_${node_id}`);
    if (currentNode == null) { return; }

    // Push starting node's children onto stack
    let children = currentNode.children;

    // Add to recursion stack
    stack.push(children);

    // Starting node is already highlighted, thus unhighlight starting node and it's descendants.
    if (children.namedItem("node-anchor-tag").classList.contains("anchor-node__active")) {

      if (currentNode instanceof HTMLAnchorElement) {
        // Remove the CSS class that highlights the node
        currentNode.classList.remove("anchor-node__active");
      }// if

      while (stack.length > 0) {

        // Get current nodes children elements from the stack
        let currentRemoveItemInStack = stack.pop();

        // Remove highlight from each child
        for (let removeChild = 0; removeChild < currentRemoveItemInStack.length; ++removeChild) {

          // Only remove highlight from links <a> and <li>
          if (currentRemoveItemInStack[removeChild] instanceof HTMLAnchorElement) {
            if (currentRemoveItemInStack[removeChild].classList.contains("anchor-node__active")) {
              currentRemoveItemInStack[removeChild].classList.remove("anchor-node__active");
            }// if
          }// if

          let nestedChildren = currentRemoveItemInStack[removeChild].children;

          // Prevents infinite stack hopefully... I hatre recursion...
          if (nestedChildren !== undefined && nestedChildren !== null && nestedChildren.length > 0) {
            stack.push(nestedChildren);
          }// if
        }// for
      }// while
    }// if

    // Highlight current nod and its descendants
    else {

      if (currentNode instanceof HTMLAnchorElement) {
        // Add the CSS class that highlights the node
        currentNode.classList.add("anchor-node__active");
      }// if

      while (stack.length > 0) {

        // Get current nodes children elements from the stack
        let currentAddItemInStack = stack.pop();

        // Add highlight from each child
        for (let addChild = 0; addChild < currentAddItemInStack.length; ++addChild) {

          // Only remove highlight from links <a> and <li>
          if (currentAddItemInStack[addChild] instanceof HTMLAnchorElement) {
            if (!currentAddItemInStack[addChild].classList.contains("anchor-node__active")) {
              currentAddItemInStack[addChild].classList.add("anchor-node__active");
            }// if
          }// if

          let nestedChildren = currentAddItemInStack[addChild].children;

          // Prevents infinite stack hopefully... I hatre recursion...
          if (nestedChildren !== undefined && nestedChildren !== null && nestedChildren.length > 0) {
            stack.push(nestedChildren);
          }// if
        }// for
      }// while
    }// else
  }// highlightSubtree
</script>